<?xml version="1.0"?>
<configuration>

  <system.web>
    <compilation debug="true"/>
  </system.web>

  <!-- When deploying the service library project, the content of the config file must be added to the host's 
  app.config file. System.Configuration does not support config files for libraries. -->

  <appSettings>
    <add key="StoreLocallyUploadService_DropDirectory" value="W:\WebSites\usagedatacollector.sharpdevelop.net\www\mirror\"/>
  </appSettings>
  
  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="UDCUploadBinding" messageEncoding="Mtom" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00" transferMode="Streamed" maxBufferSize="65536" maxReceivedMessageSize="209715200">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service behaviorConfiguration="UDCUploadBehavior" name="ICSharpCode.UsageDataCollector.ServiceLibrary.UsageDataCollectorService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="UDCUploadBinding" contract="ICSharpCode.UsageDataCollector.Contracts.IUDCUploadService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:4711/UDCUpload/"/>
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="UDCUploadBehavior">
          <!-- To avoid disclosing metadata information, 
          set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="True"/>
          <!-- To receive exception details in faults for debugging purposes, 
          set the value below to true.  Set to false before deployment 
          to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="True"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>

<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
