<cruisecontrol xmlns:cb="urn:ccnet.config.builder">

  <!-- BEGIN PROJECT -->
  <project name="SharpDevelop-40-CI">
    <webURL>http://build.sharpdevelop.net/ccnet/</webURL>

    <triggers>
      <intervalTrigger seconds="60" buildCondition="IfModificationExists "/>
    </triggers>

	<sourcecontrol type="git">
	  <repository>git://github.com/icsharpcode/SharpDevelop.git</repository>
	  <branch>master</branch>
	  <executable>C:\Program Files (x86)\Git\bin\git.exe</executable>
	  <workingDirectory>q:\ci\MiradorCI</workingDirectory>
	  <timeout units="minutes">20</timeout>
	</sourcecontrol>

    <tasks>
      <!-- http://confluence.public.thoughtworks.org/display/CCNET/MsBuild+Task -->
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\msbuild.exe</executable>
        <workingDirectory>q:\ci\</workingDirectory>
        <projectFile>Kickstart.proj</projectFile>
        <buildArgs>/p:AutomatedBuildFile=MiradorCI\src\Automated.proj;BranchName=master</buildArgs>
        <timeout>1800</timeout>
        <logger>q:\ci\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>q:\ci\testreports\SharpDevelop-40-CI\*.xml</file>
        </files>
      </merge>
      
      <xmllogger />

      <rss />

      <statistics />

      <!-- http://confluence.public.thoughtworks.org/display/CCNET/Email+Publisher -->
      <email from="build@sharpdevelop.net" mailhost="localhost" includeDetails="true">
        <users>
          <user name="contributors" group="TheGuilty" address="sharpdevelop-contributors@lists.sourceforge.net"/>
        </users>
        <groups>
		    <group name="TheGuilty">
			  <notifications>
				<notificationType>Failed</notificationType>
			  </notifications>
			</group>
        </groups>
		<modifierNotificationTypes>
			<NotificationType>Failed</NotificationType>
		  </modifierNotificationTypes>
      </email>
    </publishers>

    <externalLinks>
      <externalLink name="Forums (discuss builds)" url="http://community.sharpdevelop.net/forums/" />
      <externalLink name="Build Artefacts (download builds)" url="http://build.sharpdevelop.net/BuildArtefacts/" />
    </externalLinks>

  </project>
  <!-- END PROJECT -->

      <!-- BEGIN PROJECT -->
  <project name="Mirador-SDR-CI">
    <webURL>http://build.sharpdevelop.net/ccnet/</webURL>

    <triggers>
      <intervalTrigger seconds="60" buildCondition="IfModificationExists "/>
    </triggers>

	<sourcecontrol type="git">
	  <repository>git://github.com/icsharpcode/SharpDevelop.git</repository>
	  <branch>reports</branch>
	  <executable>C:\Program Files (x86)\Git\bin\git.exe</executable>
	  <workingDirectory>q:\ci\mirador-reports</workingDirectory>
	  <timeout units="minutes">20</timeout>
	</sourcecontrol>

    <tasks>
      <!-- http://confluence.public.thoughtworks.org/display/CCNET/MsBuild+Task -->
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\msbuild.exe</executable>
        <workingDirectory>q:\ci\</workingDirectory>
        <projectFile>Kickstart.proj</projectFile>
        <buildArgs>/p:AutomatedBuildFile=mirador-reports\src\Automated.proj;ArtefactPrefix=mirador-reports;BranchName=reports</buildArgs>
        <timeout>1800</timeout>
        <logger>q:\ci\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>q:\ci\testreports\mirador-reports\*.xml</file>
        </files>
      </merge>
      
      <xmllogger />

      <rss />

      <statistics />

      <!-- http://confluence.public.thoughtworks.org/display/CCNET/Email+Publisher -->
      <email from="build@sharpdevelop.net" mailhost="localhost" includeDetails="true">
        <users>
          <user name="contributors" group="TheGuilty" address="sharpdevelop-contributors@lists.sourceforge.net"/>
        </users>
        <groups>
		    <group name="TheGuilty">
			  <notifications>
				<notificationType>Failed</notificationType>
			  </notifications>
			</group>
        </groups>
		<modifierNotificationTypes>
			<NotificationType>Failed</NotificationType>
		  </modifierNotificationTypes>
      </email>
    </publishers>

    <externalLinks>
      <externalLink name="Forums (discuss builds)" url="http://community.sharpdevelop.net/forums/" />
      <externalLink name="Build Artefacts (download builds)" url="http://build.sharpdevelop.net/BuildArtefacts/" />
    </externalLinks>

  </project>
  <!-- END PROJECT -->
  
  <!-- BEGIN PROJECT -->
  <project name="SharpDevelop-30-CI">
    <webURL>http://build.sharpdevelop.net/ccnet/</webURL>

    <triggers>
      <intervalTrigger seconds="60" buildCondition="IfModificationExists "/>
    </triggers>

	<sourcecontrol type="git">
	  <repository>git://github.com/icsharpcode/SharpDevelop.git</repository>
	  <branch>3.x</branch>
	  <executable>C:\Program Files (x86)\Git\bin\git.exe</executable>
	  <workingDirectory>q:\ci\MontferrerCI</workingDirectory>
	  <timeout units="minutes">20</timeout>
	</sourcecontrol>

    <tasks>
      <!-- http://confluence.public.thoughtworks.org/display/CCNET/MsBuild+Task -->
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\msbuild.exe</executable>
        <workingDirectory>q:\ci\</workingDirectory>
        <projectFile>Kickstart.proj</projectFile>
        <buildArgs>/p:AutomatedBuildFile=MontferrerCI\src\Automated.proj;BranchName=3.x</buildArgs>
        <timeout>1800</timeout>
        <logger>q:\CI\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>q:\ci\testreports\SharpDevelop-30-CI\*.xml</file>
        </files>
      </merge>
      
      <xmllogger />

      <rss />

      <statistics />

      <!-- http://confluence.public.thoughtworks.org/display/CCNET/Email+Publisher -->
      <email from="build@sharpdevelop.net" mailhost="localhost" includeDetails="true">
        <users>
          <user name="contributors" group="TheGuilty" address="sharpdevelop-contributors@lists.sourceforge.net"/>
        </users>
        <groups>
		    <group name="TheGuilty">
			  <notifications>
				<notificationType>Failed</notificationType>
			  </notifications>
			</group>
        </groups>
		<modifierNotificationTypes>
			<NotificationType>Failed</NotificationType>
		  </modifierNotificationTypes>
      </email>
    </publishers>

    <externalLinks>
      <externalLink name="Forums (discuss builds)" url="http://community.sharpdevelop.net/forums/" />
      <externalLink name="Build Artefacts (download builds)" url="http://build.sharpdevelop.net/BuildArtefacts/" />
    </externalLinks>

  </project>
  <!-- END PROJECT -->
  
</cruisecontrol>