<!--
Notes

For modification of dashboard.config using msbuild:

http://confluence.public.thoughtworks.org/display/CCNET/Using+CruiseControl.NET+with+MSBuild
http://confluence.public.thoughtworks.org/display/CCNET/Build+Report+Build+Plugin

Need to check out project *first*, then the updates will pick up automatically
-->

<cruisecontrol>

  <!-- BEGIN PROJECT -->
  <project name="SharpDevelop-30-CI">
    <webURL>http://build.sharpdevelop.net/ccnet/</webURL>

    <triggers>
      <intervalTrigger seconds="60" buildCondition="IfModificationExists "/>
    </triggers>

    <sourcecontrol type="svn" autoGetSource="true">
      <trunkUrl>svn://sharpdevelop.net/sharpdevelop/branches/3.0/SharpDevelop</trunkUrl>
      <workingDirectory>d:\ci\MontferrerCI</workingDirectory>
      <executable>C:\Program Files\Subversion\bin\svn.exe</executable>
    </sourcecontrol>

    <tasks>
      <!-- http://confluence.public.thoughtworks.org/display/CCNET/MsBuild+Task -->
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\msbuild.exe</executable>
        <workingDirectory>d:\ci\</workingDirectory>
        <projectFile>Kickstart.proj</projectFile>
        <buildArgs>/p:AutomatedBuildFile=MontferrerCI\src\Automated.proj</buildArgs>
        <timeout>1800</timeout>
        <logger>D:\CI\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>d:\ci\testreports\SharpDevelop-30-CI\*.xml</file>
        </files>
      </merge>
      
      <xmllogger />

      <rss />

      <statistics />

      <!-- http://confluence.public.thoughtworks.org/display/CCNET/Email+Publisher -->
      <email from="test@test.com" mailhost="localhost" includeDetails="true">
        <users>
          <user name="ContributorsList" group="TheGuilty" address="sharpdevelop-contributors@lists.sourceforge.net"/>
        </users>
        <groups>
          <group name="TheGuilty" notification="failed" />
        </groups>
      </email>
    </publishers>

    <externalLinks>
      <externalLink name="Forums (discuss builds)" url="http://community.sharpdevelop.net/forums/" />
      <externalLink name="Build Artefacts (download builds)" url="http://build.sharpdevelop.net/BuildArtefacts/" />
    </externalLinks>

  </project>
  <!-- END PROJECT -->

  <!-- BEGIN PROJECT -->
  <project name="SharpDevelop-40-CI">
    <webURL>http://build.sharpdevelop.net/ccnet/</webURL>

    <triggers>
      <intervalTrigger seconds="60" buildCondition="IfModificationExists "/>
    </triggers>

    <sourcecontrol type="svn" autoGetSource="true">
      <trunkUrl>svn://sharpdevelop.net/sharpdevelop/trunk/SharpDevelop</trunkUrl>
      <workingDirectory>d:\ci\MiradorCI</workingDirectory>
      <executable>C:\Program Files\Subversion\bin\svn.exe</executable>
    </sourcecontrol>

    <tasks>
      <!-- http://confluence.public.thoughtworks.org/display/CCNET/MsBuild+Task -->
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\msbuild.exe</executable>
        <workingDirectory>d:\ci\</workingDirectory>
        <projectFile>Kickstart.proj</projectFile>
        <buildArgs>/p:AutomatedBuildFile=MiradorCI\src\Automated.proj</buildArgs>
        <timeout>1800</timeout>
        <logger>D:\CI\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>d:\ci\testreports\SharpDevelop-40-CI\*.xml</file>
        </files>
      </merge>
      
      <xmllogger />

      <rss />

      <statistics />

      <!-- http://confluence.public.thoughtworks.org/display/CCNET/Email+Publisher -->
      <email from="test@test.com" mailhost="localhost" includeDetails="true">
        <users>
          <user name="ContributorsList" group="TheGuilty" address="sharpdevelop-contributors@lists.sourceforge.net"/>
        </users>
        <groups>
          <group name="TheGuilty" notification="failed" />
        </groups>
      </email>
    </publishers>

    <externalLinks>
      <externalLink name="Forums (discuss builds)" url="http://community.sharpdevelop.net/forums/" />
      <externalLink name="Build Artefacts (download builds)" url="http://build.sharpdevelop.net/BuildArtefacts/" />
    </externalLinks>

  </project>
  <!-- END PROJECT -->

  <!-- BEGIN PROJECT -->
  <project name="SharpReport-Nightly">
    <webURL>http://build.sharpdevelop.net/ccnet/</webURL>
    
<!--
    <triggers>
      <scheduleTrigger time="05:43" buildCondition="ForceBuild" />
    </triggers>
-->

    <triggers>
      <intervalTrigger seconds="300" buildCondition="IfModificationExists "/>
    </triggers>


    <sourcecontrol type="svn" autoGetSource="true">
      <trunkUrl>svn://sharpdevelop.net/sharpreport/branches/designer3.0/</trunkUrl>
      <workingDirectory>d:\ci\SDR_CI</workingDirectory>
      <executable>C:\Program Files\Subversion\bin\svn.exe</executable>
    </sourcecontrol>

    <tasks>
      <!-- http://confluence.public.thoughtworks.org/display/CCNET/MsBuild+Task -->
      <msbuild>
        <executable>C:\WINDOWS\Microsoft.NET\Framework\v3.5\msbuild.exe</executable>
        <workingDirectory>d:\ci\</workingDirectory>
        <projectFile>Kickstart.proj</projectFile>
        <buildArgs>/p:AutomatedBuildFile=SDR_CI\src\Automated.proj</buildArgs>
        <timeout>1800</timeout>
        <logger>D:\CI\ThoughtWorks.CruiseControl.MsBuild.dll</logger>
      </msbuild>
    </tasks>

    <publishers>
      <merge>
        <files>
          <file>d:\ci\testreports\SharpReport-Nightly\*.xml</file>
        </files>
      </merge>

      <xmllogger />

      <statistics />

      <rss />


      <!-- http://confluence.public.thoughtworks.org/display/CCNET/Email+Publisher -->
      <email from="test@test.com" mailhost="localhost" includeDetails="true">
        <users>
          <user name="ContributorsList" group="TheGuilty" address="internal@sharpdevelopreports.net"/>
        </users>
        <groups>
          <group name="TheGuilty" notification="failed" />
        </groups>
      </email>
    </publishers>


    <externalLinks>
      <externalLink name="SharpDevelop Reports Forum (discuss builds)" url="http://community.sharpdevelop.net/forums/44/ShowForum.aspx" />
      <externalLink name="Build Artefacts (download builds)" url="http://build.sharpdevelop.net/BuildArtefacts/" />
    </externalLinks>

  </project>
  <!-- END PROJECT -->
  
</cruisecontrol>