<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	</configSections>
	
	<appSettings>
		<add key="SvnLookPath" value="C:\Program Files\Subversion\bin\svnlook" />
		<add key="AppendDiffToMail" value="true" />
		<add key="MailTextOnly" value="false" />
		<add key="MailTo" value="interestedpeople@yourorg.info" />
		<add key="MailFrom" value="commithookfoo@yourorg.info" />
		<add key="MailSubject" value="Foo rev {0}, {1}" />
		<add key="MailServer" value="localhost" />
		
		<!-- currently, only BASIC is implemented by SmtpMailer; no authentication is indicated by empty string -->
		<add key="SMTPAuthentication" value="" />
		<add key="SMTPServerPort" value="25" />
		<add key="SMTPUsername" value="username" />
		<add key="SMTPPassword" value="password" />
		
		<!-- Mailer could be either SmtpMailer or CdoMailer -->
		<add key="Mailer" value="SmtpMailer"/>
		<add key="CssForHtmlMail" value="HtmlMail.css"/>
	</appSettings>
	
	<log4net>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="post-commit.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date %-5level %logger [%ndc] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="INFO" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
</configuration>
